body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #91a9c2;
    color: #333;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
div {
    margin: 5px;
    background-color: #7c7a7a;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}
h2 {
    font-size: 24px;
    color: #fdb953;
    margin-bottom: 20px;
}
#inputNumber{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #8f9ef0;
}
button {
    font-family:'Times New Roman', Times, serif;
    color: #c92a86;
    background-color: #8f9ef0;
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    border: radius;
    border-radius: 5px;
}
#resultValue {
    font-size: 24px;
    color: #fdb953;
}
button:hover {
    background-color: #6780ec;
}